include ./parts/header.jade
title 404 - Page not found
meta( name="description", content="No description yet" )
include ./parts/assets.jade

!= "</head>"

body
  p 404 - Page not found
  p
    a( href="/" ) Return to the main page

  include ./parts/footer-assets.jade

!= "</html>"