include ./parts/header.jade
title Default Title
meta( name="description", content="No description yet" )
include ./parts/assets.jade

!= "</head>"

body
  p If you're seeing this, the server is running properly!
  p
    a( href="/example-page/" ) Visit an example page

  include ./parts/footer-assets.jade

!= "</html>"