doctype html
!= "<html>"
  != "<head>"

    meta( charset="utf-8" )
      
    //- Make the site fit to the screen size on mobile devices and don't allow zooming in/out
    //- For responsive sites, this is probably ideal
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )

    //- Make IE render in the most modern mode possible
    meta( http-equiv="X-UA-Compatible", content="IE=edge,IE=11,IE=10,IE=9,IE=8" )
